.energies {
  margin-top: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 4px;

  width: 100%;
  padding: 0 12px;
  box-sizing: border-box;

  margin-bottom: 16px;
}

.energy {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.1);
  padding: 10px 0;

  border-radius: 14px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);

  filter: brightness(.5);
}

.energy > img {
  height: 20px;
}

.energyActive {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(157, 255, 18, 0.3);
  padding: 10px 0;

  border-radius: 14px;

  border: 1px solid rgba(157, 255, 18, 1);
  backdrop-filter: blur(5px);
}

.energyActive > img {
  height: 20px;
}
